#features-table {
	padding: 100px 0;
}
#features-table h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #fff;
    text-align: center;
}
#features-table table{
	max-width:1200px;
	margin: 0 auto;
}

.tabco1 {
  background: #222;
  width: 40%;
  padding: 10px !important;
}
th.tabco1 {
	background: #222;
	padding: 32px 10px !important;
	font-size: 18px;
	color: #fff;
}
